.customShadow {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
}

.darkShadow {
  box-shadow: 0 0 15px 0 rgb(206, 50, 50);
}

.lightShadow {
  box-shadow: 0 0 15px 0 rgb(14, 218, 139);
}

.angelShadow {
  box-shadow: 0 0 15px 0 rgb(26, 230, 213);
}
